

div.item.full-screen{
  background-size: contain!important;
}

div.item.full-screen.blue{
  background-color:rgba(37,81,193,1);
}

div.item.full-screen.blu{
  background-color: #8CA8C1;
}




@media only screen and (max-width: 600px) {
  .carousel-title {
    font-size: 20px!important;
    font-weight: 600;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
  }
  .carousel-centered {

    top: 45%!important;
  }

  .mi-caro{
    font-size: 14px!important;
    text-align:justify;
  }

  .btn-theme-sm {
    font-size: 6px;
    font-weight: 500;
    padding: 10px 30px;
  }
}
