

div.item.full-screen{
  background-size: contain!important;
}

div.item.full-screen.blue{
  background-color: rgba(37,81,193,1)!important;
background-color: -moz-linear-gradient(left, rgba(37,81,193,1) 0%, rgba(34,64,134,1) 100%)!important;
background-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,81,193,1)), color-stop(100%, rgba(34,64,134,1)))!important;
background-color: -webkit-linear-gradient(left, rgba(37,81,193,1) 0%, rgba(34,64,134,1) 100%)!important;
background-color: -o-linear-gradient(left, rgba(37,81,193,1) 0%, rgba(34,64,134,1) 100%)!important;
background-color: -ms-linear-gradient(left, rgba(37,81,193,1) 0%, rgba(34,64,134,1) 100%)!important;
background-color: linear-gradient(to right, rgba(37,81,193,1) 0%, rgba(34,64,134,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2551c1', endColorstr='#224086', GradientType=1 )!important;
}

div.item.full-screen.blu{
  background-color: #8CA8C1;
}




@media only screen and (max-width: 600px) {
  .carousel-title {
    font-size: 20px!important;
    font-weight: 600;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
  }
  .carousel-centered {

    top: 45%!important;
  }

  .mi-caro{
    font-size: 14px!important;
    text-align:justify;
  }

  .btn-theme-sm {
    font-size: 6px;
    font-weight: 500;
    padding: 10px 30px;
  }
}
