
@media only screen and (max-width: 600px) {
  div.item.full-screen{
    background-size: contain!important;
  }


  div.item.full-screen.blu{
    background-color: #84a9c3;
  }

  .carousel-title {
    font-size: 20px!important;
    font-weight: 600;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
  }

  div.item.full-screen.blue{
    background: rgb(41,90,178);
    background-image: url("/img/1920x1080/movil.jpeg")!important;


  }

  .carousel-title.margin-b-40 {
    margin-bottom: 140px!important;
}

  .carousel-centered {

    top: 45%!important;
  }

  .mi-caro{
    font-size: 14px!important;
    text-align:justify;
  }

  .btn-theme-sm {
    font-size: 6px;
    font-weight: 500;
    padding: 10px 30px;
  }
}
